#assistente {
  margin: auto;
  margin-top: 20px;
  width: 768px;
  background-color: #E5BAFF;
  padding: 20px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
}



.rotulo {
  font-size: 18px;
  color: white;
  display: block;
  margin-bottom: 8px;
}

 .box-chat {
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: hidden;
  width: 100%;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 15px;
} 

#button {
  margin-top: 12px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: pink;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-size: 15px;
}

.response p{
  font-size: 20px;
}

.App input{

  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
}

